body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

header{
    width: 100%;
    position: relative;
    text-align: center;  
}

h1{
font-size: 2rem; 
color: white;
position: absolute; 
transform: translate(-50%, -50%); 
}

h1 image {
    display: block;
    height: auto;
    width: (100% + 1rem);
    margin-left: 1rem;  
}
.star{
    background-color: aliceblue;
    margin: 20px auto;
    margin: 20% auto;
    padding:2rem;
    width: 80%;
}


nav ul{
    text-align: center;
    overflow: auto;
    list-style: none;
    margin: 0; 
    display: flex; 
    justify-content: space-around; 
}

nav ul li {
    margin: 0 1rem; 
    position: relative;
    padding: 0 15px; 
}

nav li a {
    width: 100px;
    padding: 20px 20px;
    display: inline-block;


}


.imagewidetext{
    color: white;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 50px;
    position: absolute;
    right: 50px;
    bottom: 55px;
    


}

footer{
    text-align: right;
}
.starry {
    height: 200px;
    width: 200px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    font-size: 25px;
}
nav li{
    display: inline-block;
}
.fish{
    border: 5px solid rgb(0, 0, 0);
    padding: 15px;

}
p {
    font-size: 18px;
}

.clearfix::after {
    content: "";/*content required*/ 
    display: table; 
    clear: both;  
}











