body {
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    font-size: 18px;
}
header,footer{
    background-color: aquamarine;
}
.site-title{

    color: red;
}

#my-image{
    box-shadow: 0px 0px 2px black;
   
}
ul{
   
    list-style: square;
}


.link{
    list-style: none;
    text-decoration: none;
    background-color: greenyellow;
    border-style: double;
    
}
a:hover{
    background-color: blueviolet;
}