body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    

}
header,footer{
    background-color: brown;
}
.site-title{

    color: red;
}

#my-image{
    box-shadow: 0 0 2px 1px black;
   
}

nav a{
    text-decoration: none;
    background-color: greenyellow;
    border: 1px;
    color: white;
}
nav ul{
    list-style: none;
}


div>ul{
   
    list-style: square  ;
}


div>ul>li:nth-child(odd){
background-color: aquamarine;
}


nav a:hover{
    background-color: purple;

}